.divHeaderStyle {
  margin: 0 auto;
}

.hrStyle {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 40px;
}

.hrStyle-noMarginTop {
  margin: 0 auto;
  margin-top: 20px;
}

.spanTextStyle {
  font-weight: bold;
}

.socialLinksStyle {
  flex-direction: column;
}

.socialLinkStyle ul {
  list-style: none;
}

.socialLinksStyle li {
  padding: 0 20px 0 0;
}

.socialLinksStyle li a {
  font-size: 20px;
}